<div class="container home-page">
  <div class="heading">
    <div class="row">
      <div class="col-md-6 heading-col">
        <div class="heading-text">
          <h1>Dr. Appointment</h1>
          <h3>Doctor's Appointment Management System</h3>
          <p>Manage appointments efficiently and keep track of patient schedules with our comprehensive Doctor Appointment System. The Doctor Appointment System is a comprehensive web application designed to streamline the process of scheduling, managing, and tracking patient appointments.</p>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-success" routerLink="/appointments">See Appointments</button>
          <button class="btn btn-primary" routerLink="/add">Add Appointment</button>
        </div>
      </div>
      <div class="col-md-6 img-col">
        <div class="image-outer">
          <img src="../../../assets/images/smiling-doctor.png" alt="">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 img-col">
        <div class="image-outer">
          <img src="../../../assets/images/female-doctor.png" alt="">
        </div>
      </div>
      <div class="col-md-6 text-col-2">
        <div class="text-wrapper">
          <p>
            We provide a simple and easy booking online system. So, the user could view all those services provided by the clinic, select the specialist, availability of doctors, and appointment date. The time and date will be chosen after confirming the doctor's availability. Our main aim is to provide simple and effective online services for doctor appointments.
          </p>
          <h4>Some of features</h4>
          <ul>
            <li>User Friendly Interface</li>
            <li>Authentication and Authorization</li>
            <li>Data Security</li>
            <li>Easy to add, edit and delete appointment.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>