<div class="add-appointment-section">
  <div class="container">
    <div class="row">
      <h2 class="add-appointment-title text-center">Create New Appointment</h2>
      <div class="col-md-6 form-col">
        <div class="form-wrapper mt-4">
          <div class="add-form">
            <h5 class="title-text form-heading text-center mb-4">Fill patient's details</h5>

            <!-- form to create appointment -->
            <form [formGroup]="patientForm" (ngSubmit)="createAppointment()" id="appointment-form">
              <div class="form-group my-3">
                <label for="firstName">Enter First Name</label>
                <input type="text" class="" name="firstName" id="firstName" placeholder="First Name" formControlName="firstName" maxlength="20" required/>
                <div class="text-danger" *ngIf="patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched">
                  <span *ngIf="patientForm.get('firstName')?.hasError('required')">First Name is required.</span>
                  <span *ngIf="patientForm.get('firstName')?.hasError('pattern')">Enter alphabets only.</span>
                </div>
              </div>
              <div class="form-group my-3">
                <label for="lastName">Enter Last Name</label>
                <input type="text" class="" name="lastName" id="lastName" placeholder="Last Name" formControlName="lastName" maxlength="20" required/>
                <div class="text-danger" *ngIf="patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched">
                  <span *ngIf="patientForm.get('lastName')?.hasError('required')">Last Name is required.</span>
                  <span *ngIf="patientForm.get('lastName')?.hasError('pattern')">Enter alphabets only.</span>
                </div>
              </div>
              <div class="form-group my-3">
                <label for="disease">Enter Disease Name</label>
                <input type="text" class="" name="disease" id="disease" placeholder="Disease Name" formControlName="disease" maxlength="20" required/>
                <div class="text-danger" *ngIf="patientForm.get('disease')?.invalid && patientForm.get('disease')?.touched">
                  <span *ngIf="patientForm.get('disease')?.hasError('required')">Disease is required.</span>
                </div>
              </div>
              <div class="form-group my-3">
                <label for="appointmentDate">Enter Date & Time</label>
                <input type="datetime-local" class="" name="appointmentDate" id="appointmentDate" placeholder="Date and Time" formControlName="appointmentDate" min="2024-06-17T00:00" required/>
                <div class="text-danger" *ngIf="patientForm.get('appointmentDate')?.invalid && patientForm.get('appointmentDate')?.touched">
                  <span *ngIf="patientForm.get('appointmentDate')?.hasError('required')">Date & time is required.</span>
                </div>
              </div>
              <div class="form-group my-3">
                <label for="comment">Enter Comment</label>
                <textarea type="text" class="" name="comment" id="comment" placeholder="Comment | remark" formControlName="comment" maxlength="200" rows="2" required></textarea>
                <div class="text-danger" *ngIf="patientForm.get('comment')?.invalid && patientForm.get('comment')?.touched">
                  <span *ngIf="patientForm.get('comment')?.hasError('required')">Comment is required.</span>
                </div>
              </div>
              <div class="form-group submit">
                <button name="save" id="save" class="form-submit btn btn-primary" [disabled]="patientForm.invalid" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 img-col">
        <div class="figure">
          <div class="img-outer">
            <img src="../../../assets/images/appointment.png" alt="Create Appointment Image" srcset="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>